.header {
  @media (max-width: 950px) {
    & label {
      transition: transform 0.22s ease-in-out;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      gap: 0.5rem;
      order: 1;
      z-index: 9999;

      & > div {
        height: 0.2rem;
        width: 2rem;
        background-color: black;
        transition: all 0.3s ease-in-out;
        border-radius: 15rem;
      }
    }

    & > ul {
      position: fixed;
      background-color: white;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
      padding: 2rem;
      width: 100vw;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      overflow: hidden;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      z-index: 1;
      text-align: center;

      & > li > a {
        font-size: 1.2rem;
      }

      & > li > a:not([href="https://demo-store-tan-one.vercel.app/contact"])
      {
        color: hsl(213, 9%, 39%);
        font-weight: 500;
      }

      & > li > a[href="https://demo-store-tan-one.vercel.app/contact"]
      {
        color: hsl(212, 27%, 19%);
        font-weight: 500;
        background-color: hsl(51, 100%, 49%);
      }
    }
  }

  @media (max-width: 625px) {
    & > ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 450px) {
    & > ul {
      grid-template-columns: 1fr;
    }
  }

  & input[type="checkbox"] {
    display: none;

    @media (max-width: 950px) {
      &:checked + label {
        transform: rotate(180deg);

        & > div {
          &:nth-child(1) {
            transform: translateY(10px) rotate(40deg);
          }
          &:nth-child(2) {
            visibility: hidden;
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translateY(-13px) rotate(-35deg);
          }
        }
      }

      &:checked ~ ul {
        opacity: 1;
        visibility: visible;
        transform: translate(-24px, 80px);
      }
    }

    @media (max-width: 625px) {
      &:checked ~ ul {
        transform: translate(-24px, 120px);
      }
    }

    @media (max-width: 450px) {
      &:checked ~ ul {
        transform: translate(-24px, 190px);
      }
    }
  }
}
